# Keystore compatibility
allow keystore keystore_compat_data_file:dir create_dir_perms;
allow keystore keystore_compat_data_file:file create_file_perms;
set_prop(keystore, keystore_compat_prop)

# Allow keystore to query package_native service from system_server for UID resolution
allow keystore package_native_service:service_manager find;
binder_call(keystore, system_server)
